{% extends "polls/base.html" %}

{% block content %}
    {% if success %}
        Successfully added question: {{ success }}
    {% endif %}
    <form method="post" action="{% url 'polls:add_question' %}">
        {% csrf_token %}
        <label for="add_question">Add question</label>
        <input type="text" name="question" id="add_question" required>
        <input type="submit" value="Submit">
    </form>
{% endblock %}