{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions and Answers</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div id="content">
        <div id="login_content">
            {% if user.get_username %}
                User: {{ user.get_username }}
                <form action="{% url 'polls:logout' %}">
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                {% if error_text %}
                    {{ error_text }}
                {% endif %}
                <form method="post" action="{% url 'polls:login' %}">
                    {% csrf_token %}
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                    <button type="submit">Login</button>
                </form>
            {% endif %}
            <form action="{% url 'polls:register' %}">
                <button type="submit">Register User</button>
            </form>
            <form action="{% url 'polls:index' %}">
                <button type="submit">Return to main page</button>
            </form>
        </div>
        <div id="app_content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>