{% extends "polls/base.html" %}
{% load polls_extras %}

{% block content %}
        <h1>{{ question.question_text }}</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'polls:question_manipulation' question.id %}" method="post">
                {% csrf_token %}
                {% if question.choice_set.all %}
                    {% if user.is_authenticated %}
                        {% for choice in question.choice_set.all %}
                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }},
                                {% if question.user_id == user %}
                                    (user
                                    {% if choice.user_id %}
                                        {{ choice.user_id }}
                                    {% else %}
                                        Anonymus
                                    {% endif %}
                                    ),
                                {% endif %}
                            votes number: {{ choice.votes }}
                            </label><br>
                        {% endfor %}
                        {% if user|alreadyvoted:question %}
                            <input type="submit" value="Vote" name="_vote">
                        {% else %}
                            You have already voted
                        {% endif %}
                        <input type="submit" value="Delete" name="_delete">
                    {% else %}
                        {% for choice in question.choice_set.all %}
                            <li>{{ choice.choice_text }},
                                {% if question.user_id == user %}
                                    (user
                                    {% if choice.user_id %}
                                        {{ choice.user_id }}
                                    {% else %}
                                        Anonymus
                                    {% endif %}
                                    ),
                                {% endif %}
                            votes number: {{ choice.votes }}
                            </li>
                        {% endfor %}
                        {% if not user.is_authenticated %}
                            Login to vote
                        {% else %}
                            You have already voted
                        {% endif %}
                    {% endif %}
                {% else %}
                    No questions added yet
                {% endif %}
            </form>
    <br/><br/>
    <form action="{% url 'polls:add_choice' question.id %}" method="post">
        {% csrf_token %}
        <label for="choice">Add Choice</label>
        <input type="text" name="choice" id="choice" required>
        <input type="submit" value="Add Choice">
    </form>
{% endblock %}