{% extends "polls/base.html" %}
{% load polls_extras %}

{% block content %}

    <form action="{% url 'polls:add_question' %}">
         <button type="submit">Add Question</button>
    </form>


    {% if latest_question_list %}
        <ul>
            {% if user.is_authenticated %}
                {% with your_questions=latest_question_list|questioninclude:user %}
                    Yours questions:
                    {% if your_questions %}
                        {% for question in your_questions %}
                            {% if question.user_id == user %}
                                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                                <form action="{% url 'polls:delete_question' question.id %}">
                                    <button type="submit">Delete question</button>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <br/>You didnt post any questions
                    {% endif %}
                    <br/>
                {% endwith %}
                {% with not_your_questions=latest_question_list|questiondontinclude:user %}
                    Other questions:
                    {% if not_your_questions %}
                        {% for question in not_your_questions %}
                            {% if question.user_id != user %}
                                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                            {% endif %}
                            {% if user.is_superuser %}
                                <form action="{% url 'polls:delete_question' question.id %}">
                                    <button type="submit">Delete question</button>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <br/>App have only yours questions
                    {% endif %}
                {% endwith %}
            {% else %}
                {% for question in latest_question_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}