{% extends "polls/base.html" %}

{% block content %}
    <h2>Sign up</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
{% endblock %}