{% extends "polls/base.html" %}

{% block content %}
    <h1>{{ question.question_text }}</h1>
    <ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
    </ul>
    <form action="{% url 'polls:detail' question.id %}">
        <button type="submit">Vote again?</button>
    </form>
{% endblock %}