li a {
    color: green;
}

html, body, div {
    background-color: pink;
    height: 100%;
}

input {
    display: block;
}

#login_content {
    text-align: center;
    display: block;
    float: right;
    height: 100%;
    border: 1px solid black;
    min-width: 100px;
}